.home-page {
  display: flex;
  justify-content: left;
  margin-top: 3em;
  margin-left: 3em;
  a {
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      text-decoration: none;
      color: rgba(0, 0 ,0, 1);
    }
  }
}

.project-section {
  padding: 2em;
  margin: 40px 32px;
}

body {
  font-family: $my-font;
  background-color: white;
  background-image: url('../images/houndstooth-pattern.png');
}
