<div class="project-section" id="project">
  <div class="row">
      <div class="col col-md-6">
        <div class="card-trip h-100">
          <%= image_tag 'Memo-me.png'%>
          <div class="card-trip-infos">
            <div>
              <h2 style="text-align: center; font-style: italic;">Memo-Me</h2>
              <p>Memo-me is a web app that allows users to stay up to date with the children around them so they do not miss out on their next important event.
                It is very easy to use, and allows users to create a child's profile and plan events for that child. This helps a user stay on top of every event that child goes through.
              </p>
              <p>
              <i class="devicon-ruby-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              </p>
            </div>
            <div class="d-flex justify-content-around m-2">
              <a href="http://www.memo-me.co/" target="_blank" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/Ikujitime" target="_blank" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="card-trip h-100">
          <%= image_tag 'yelp.png'%>
          <div class="card-trip-infos">
            <div>
              <h2 style="text-align: center; font-style: italic;">Yelp-MVP</h2>
              <p> This is one of my very first MVC based app on heroku. It allows a user to create a simple review and restaurant to the database.
              </p>
              <p>
              <i class="devicon-ruby-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              </p>
            </div>
            <div class="d-flex justify-content-around m-2">
              <a href="https://yelp-mvp-sample.herokuapp.com/" target="_blank" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/yelp-mvp" target="_blank" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6 h-100">
        <div class="card-trip mt-5">
          <%= image_tag 'Movie-list.png'%>
          <div class="card-trip-infos">
            <div>
              <h2 style="text-align: center; font-style: italic;">Movie Watch List</h2>
              <p> This is a simple web app that allows users to create a new movie category and add movies to their watch list.
              </p>
              <p>
              <i class="devicon-ruby-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              </p>
            </div>
            <div class="d-flex justify-content-around m-2">
              <a href="https://eiga-watch-list.herokuapp.com/" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/watch-list" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
