<div class="home-page">
    <div class="name-container d-flex align-items-center">
      <div>
        <div class="d-flex align-items-center">
        <h1 style="margin-right: 8px;">Daniel Rabottini</h1>
        <a class="contact-link" href="https://github.com/danzzzy"><i class="devicon-github-original-wordmark"></i></a>
        <a class="contact-link" href="https://www.linkedin.com/in/daniel-rabottini/"><i class="devicon-linkedin-plain"></i></a>
        </div>
        <p style="font-size: 20px;">Freelance Web Developer
        <br>HTML/ CSS/ Javascript/ Ruby</p>
        <br>
        <p style="font-size: 18px;">Hi, everyone!
        <br>I am a fullstack web developer looking for new opportunities.
        <br>Currently reside in Shizuoka, Japan.</p>
        <div class="d-flex justify-content-center">
          <%= link_to 'About me', '/about', class:"about-me-btn" %>
          <%= link_to 'Projects', '/project', class:"project-btn" %>
        </div>
      </div>
    </div>
</div>
