<div class="home-page">
    <div class="name-container d-flex align-items-center">
      <div>
        <h1>Daniel Rabottini</h1>
        <p style="font-size: 20px;">Freelance Web Developer
        <br>HTML/ CSS/ Javascript/ Ruby</p>
        <br>
        <p style="font-size: 18px;">Hi, everyone!
        <br>I am a fullstack web developer looking for new opportunities.
        <br>Currently reside in Shizuoka, Japan.</p>
        <div class="d-flex justify-content-center">
          <%= link_to 'About me', '/about', class:"about-me-btn" %>
          <%= link_to 'Projects', '/project', class:"project-btn" %>
        </div>
      </div>
    </div>
</div>
