<div class="home-page">
  <div>
    <div class="d-flex align-items-center">
      <h2 style="margin-right: 8px;">Daniel Rabottini</h2>
      <p style="margin: 0;">Project Manager | Web Developer</p>
    </div>
    <%= link_to "About", '#about', style:"margin:8px;"%>
    <%# <%= link_to "Contact", '#contact' %>
  </div>
</div>
