<div class="top-sizing">
  <div class="container">
    <div class="row justify-content-center" style="align-items: center;">
      <div class="col col-md-10 profile-card">
            <h3 style="text-align: center;" class="about-me-title">About Me</h3>
          <%= image_tag "daniel-img.jpg", class:"profile-img" %>
            <div class="header-text">
                <p>Hi, nice to meet you, my name is Daniel Rabottini.
                <br>I am a <span class="highlight-word">Project Manager</span> with <span class="highlight-word">3+ years</span> of experience.
                <p>Hobbies:
                <i class="fas fa-plane"></i> travelling,
                <i class="fas fa-code"></i> coding,
                <i class="fas fa-mountain"></i> hiking
                </p>
                <p><%= link_to "Contact Me", '#' %>
                </p>
          </div>
      </div>
    </div>
</div>
