<div class="project-section">
  <div class="row">
      <div class="col col-md-6">
          <%= image_tag 'Memo-me.png'%>
      </div>
      <div class="col col-md-6">
        <div class="project-description-card">
          <h2 style="text-align: center;">Memo-Me</h2>
          <p>Memo-me is a web app for people who wants to stay up to date with the children around them so they do not miss out on their next important event.
            It is very easy to use, and allows users to create a child's profile and plan events for that child. This helps a user stay on top of every event that child goes through.
          </p>
          <a href="http://www.memo-me.co/">Site</a>
        </div>
      </div>
    </div>
</div>
