<%= partial "partials/navbar" %>
<div class="top-sizing" id ="about">
  <div class="container">
    <div class="row justify-content-center" style="align-items: center;">
      <div class="col col-md-10 profile-card">
            <h3 style="text-align: center;" class="about-me-title">My Journey</h3>
          <%= image_tag "daniel-img.jpg", class:"profile-img" %>
            <div class="header-text">
                <p>Hi, nice to meet you, my name is Daniel Rabottini.
                <br>I am originally from Chicago and love to travel, experience new cultures, and learn new languages. I have lived in multiple countries: Korea 🇰🇷, Taiwan 🇹🇼, Nigeria 🇳🇬, and now Japan 🇯🇵.
                I speak English and 日本語 (Japanese) fluently, basic conversational level of 한글 (Korean) and 中文 (Mandarin)
                <br>Hobbies:
                <i class="fas fa-plane"></i> travelling,
                <i class="fas fa-code"></i> coding,
                <i class="fas fa-mountain"></i> hiking
                </p>
                <a href="https://github.com/danzzzy"><i class="devicon-github-original-wordmark"></i></a>
                <a href="https://www.linkedin.com/in/daniel-rabottini/"><i class="devicon-linkedin-plain"></i></a>
                <%# <p>Feel free to <%= link_to "Contact Me", '#' %>
                </p>
          </div>
      </div>
    </div>
</div>
