<div class="project-section" id="project">
  <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card-trip">
          <%= image_tag 'Memo-me.png'%>
          <div class="card-trip-infos">
            <div class="content">
              <div class="project-text">
                <p>Team: 3 members <br>Role: Front-end Dev</p>
                <p>Memo-me is a simple web app that allows users to create profiles for children dear to them and stay up to date with their important life events.</p>
                <p>
                  <i class="devicon-ruby-plain-wordmark"></i>
                  <i class="devicon-javascript-plain"></i>
                  <i class="devicon-html5-plain-wordmark"></i>
                  <i class="devicon-css3-plain-wordmark"></i>
                </p>
              </div>
            </div>
              <h2 style="text-align: center; font-family: PT Serif; font-style: italic;">Memo-Me</h2>
            <div class="d-flex justify-content-around">
              <a href="http://www.memo-me.co/" target="_blank" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/Ikujitime" target="_blank" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card-trip">
          <%= image_tag 'yelp.png'%>
          <div class="card-trip-infos">
            <div class="content">
              <div class="project-text">
                <p>Team: 1 member <br>Role: Fullstack Dev</p>
                <p> This is one of my very first MVC based app launched on heroku. It allows users to create a new restaurant and leave a review for each restaurant.
                </p>
                <p>
                  <i class="devicon-ruby-plain-wordmark"></i>
                  <i class="devicon-javascript-plain"></i>
                  <i class="devicon-html5-plain-wordmark"></i>
                  <i class="devicon-css3-plain-wordmark"></i>
                </p>
              </div>
            </div>
            <h2 style="text-align: center; font-family: PT Serif; font-style: italic;">Yelp-MVP</h2>
            <div class="d-flex justify-content-around m-2">
              <a href="https://yelp-mvp-sample.herokuapp.com/" target="_blank" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/yelp-mvp" target="_blank" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card-trip">
          <%= image_tag 'Movie-Watch-List.jpg'%>
          <div class="card-trip-infos">
            <div class="content">
              <div class="project-text">
                <p>Team: 1 member <br>Role: Fullstack Dev</p>
                <p> Fun way to create a movie category and add your favorite movies from the list.
                </p>
                <p>
                  <i class="devicon-ruby-plain-wordmark"></i>
                  <i class="devicon-javascript-plain"></i>
                  <i class="devicon-html5-plain-wordmark"></i>
                  <i class="devicon-css3-plain-wordmark"></i>
                </p>
              </div>
            </div>
            <h2 style="text-align: center; font-family: PT Serif; font-style: italic;">Movie Watch List</h2>
            <div class="d-flex justify-content-around m-2">
              <a href="https://eiga-watch-list.herokuapp.com/" alt="site link">Site</a>
              <a href="https://github.com/danzzzy/watch-list" alt="code link">Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
